# Only run on Windows
{{- if eq .chezmoi.os "windows" -}}

# 定义源目录和目标目录
$SOURCE_DIR = "$HOME\.local\share\chezmoi\AppData\Local\nvim"
$TARGET_DIR = "$HOME\.local\share\chezmoi\dot_config\nvim"


# 移动相关文件
robocopy "$SOURCE_DIR" "$TARGET_DIR" /E
robocopy "$HOME\.config\nvim" "$HOME\.local\share\chezmoi\.chezmoitemplates\nvim" /E
Write-Host "Sync from Windows to MacOS."

{{- end }}
